$bg-color: #0e3352;
$dark-bg-color: #0b2c48;
$darkest-bg-color: #062036;
$light-text-color: #fff;
$dark-text-color: #d8d8d8;
$logo-color: rgb(237, 77, 102);
$btn-color: #808dde;
$additional-color: #00e09e;
