@import "config";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  max-width: 100%;

  font-family: "Manrope", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: “pnum”;
  font-feature-settings: “pnum”;
  font-variant-numeric: proportional-nums;
}
/* Home page */
/* Section Header*/

header {
  width: 100%;
  height: 100%;
  background: $bg-color;
  position: relative;
  overflow: hidden;
}

nav {
  width: 100%;
  background: $darkest-bg-color;
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 175px;
  margin-right: 450px;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  li {
    list-style: none;
    min-width: 35px;
    margin-right: 15px;
  }

  a {
    color: $additional-color;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.logo {
  width: 210px;
  height: 60px;
  margin-right: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  opacity: 0.5;
}
.logo_text {
  font-size: 21px;
  font-weight: bold;
  color: $dark-text-color;
}
/*background: $logo-color;
  width: 210px;
  height: 60px;
  margin-right: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_text {
  font-size: 21px;
  font-weight: bold;
  color: $dark-bg-color;
}*/
/*.header_svg {
  position: absolute;
  width: 670px;
  height: 400px;

  top: 0;
  right: 0;
}*/

.header_title_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 270px;
  margin: 30px 175px;

  p {
    font-size: 48px;
    color: $light-text-color;
  }
  span {
    color: $logo-color;
  }
}
.wrapper_svg {
  width: 100%;
  height: 100%;
}
.spin {
  z-index: 2;
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 90%;
  font-size: 20px;
  font-family: arial;
  width: 90%;
  margin: auto auto;
  border-radius: 50%;
  border-right: 20px solid rgba(237, 77, 102, 0.8);
  animation: spinning 8s linear infinite;
}
.package_spin {
  border-right: 20px solid rgba(0, 7224, 158, 0.5);
}
.container {
  position: absolute;
  right: -500px;
  top: 20px;
  width: 900px;
  height: 900px;
}
/*@keyframes spinning {
  0% {
    transform: rotate(350deg);
    border-right: 20px solid rgba(237, 77, 102, 0);
  }
  5% {
    border-right-color: rgba(237, 77, 102, 0.1);
  }
  10% {
    border-right-color: rgba(237, 77, 102, 0.3);
  }
  15% {
    border-right-color: rgba(237, 77, 102, 0.5);
  }
  20% {
    border-right-color: rgba(237, 77, 102, 0.9);
  }
  25% {
    border-right-color: rgba(237, 77, 102, 0.6);
  }
  30% {
    border-right-color: rgba(237, 77, 102, 0.9);
  }
  35% {
    border-right-color: rgba(237, 77, 102, 0.6);
  }
  40% {
    border-right-color: rgba(237, 77, 102, 0.9);
  }
  45% {
    border-right-color: rgba(237, 77, 102, 0.6);
  }
  50% {
    border-right-color: rgba(237, 77, 102, 0.9);
  }
  55% {
    border-right-color: rgba(237, 77, 102, 0.6);
  }
  60% {
    border-right-color: rgba(237, 77, 102, 0.9);
  }
  65% {
    border-right-color: rgba(237, 77, 102, 0.6);
  }
  70% {
    border-right-color: rgba(237, 77, 102, 0.9);
  }
  75% {
    border-right-color: rgba(237, 77, 102, 0.6);
  }
  80% {
    border-right-color: rgba(237, 77, 102, 0.9);
  }
  85% {
    border-right-color: rgba(237, 77, 102, 0.5);
  }
  90% {
    border-right-color: rgba(237, 77, 102, 0.3);
  }
  95% {
    border-right-color: rgba(237, 77, 102, 0.1);
  }
  100% {
    transform: rotate(330deg);
    border-right: 20px solid rgba(237, 77, 102, 0);
  }
}*/

.header_img {
  position: relative;
  width: 100%;
  height: 630px;
  background: url("../img/jerry-1.png") no-repeat;
  background-size: 100% 100%;
}
.header_subtitle_large {
  position: absolute;
  bottom: 0;
  padding: 50px 125px 30px 175px;
  width: 60%;

  background: $bg-color;
  p {
    color: $light-text-color;

    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    padding-bottom: 10px;
    span {
      opacity: 50%;
    }
  }
}
.header_subtitle_small {
  visibility: hidden;
  height: 0;
  width: 0;

  bottom: 0;
  padding: 50px 125px 30px 175px;
  width: 60%;

  background: $bg-color;
  p {
    color: $light-text-color;

    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
    padding-bottom: 10px;
    span {
      opacity: 50%;
    }
  }
}

/* Main Section */
.header_title_desc {
  background: $bg-color;
  color: $light-text-color;
  font-weight: bold;
}
.header_title_desc_text {
  padding: 40px 100px 16px 175px;

  font-size: 20px;

  span {
    color: $logo-color;
  }
}

.header_title_desc_cta {
  padding: 80px 100px 80px 175px;

  a {
    color: $light-text-color;
    text-decoration: none;
    font-size: 32px;
    line-height: 32px;
  }
  span {
    color: $logo-color;
  }
  i {
    padding-left: 14px;
    font-size: 20px;
  }
}

/* Section Certificate*/
.product_certificate {
  background: $dark-bg-color;
}
.product_certificate_content {
  display: flex;
  padding: 110px 0;
}
.product_certificate_title_small {
  width: 0;
  visibility: hidden;
}
.product_certificate_img {
  position: relative;

  background: $dark-bg-color;
  width: 40%;
}
.certificate_svg {
  position: absolute;
  top: 80px;
  left: 175px;
  width: 270px;
  height: 400px;
}

.product_certificate_text {
  width: 60%;

  background: $dark-bg-color;
  color: $light-text-color;
}
.product_certificate_title {
  width: 620px;
  margin: 60px 80px 0 80px;
  font-size: 32px;
  font-weight: bold;
}
.product_certificate_subtitle {
  padding-right: 100px;
  width: 620px;
  margin: 20px 80px;
  font-size: 18px;
  font-weight: bold;
  p {
    padding-bottom: 12px;
  }
  span {
    color: $logo-color;
  }
}
.btn_more {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 40px;
  margin: 40px 60px 100px 80px;

  background: $btn-color;
  a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: $light-text-color;
  }
}

/*Section Points*/

.points {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 50vh 50vh;
  grid-template-areas:
    "content1 image1"
    "image2   content2"
    "content3 image3";
  background: $bg-color;
  color: $light-text-color;
}
.aim {
  grid-area: content1;
  background: $darkest-bg-color;
}
.aim_picture {
  margin: auto;
}
.details {
  grid-area: content2;
  background: $darkest-bg-color;
}

.details_picture {
  margin: auto;
}
.storage {
  grid-area: content3;
  background: $darkest-bg-color;
}
.storage_picture {
  margin: auto;
}
.point_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 125px;
  padding-right: 40px;
}

.point_title {
  font-size: 32px;
  font-weight: bold;
}
.point_subtitle {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  p {
    padding-bottom: 12px;
  }
  span {
    color: $logo-color;
  }
}
.point_btn a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 40px;

  color: $btn-color;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

/*Section Collaboration*/
.collaboration {
  padding: 155px 125px;
  background: $bg-color;
  color: $light-text-color;
}
.collaboration_title {
  margin-bottom: 40px;
  font-size: 38px;
  font-weight: bold;
}

.variants {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-areas:
    "check1 text1 ."
    "check2 text2 ."
    "check3 text3 .";
}

.variant_check_checked {
  width: 50px;
  grid-area: check1;
  align-self: center;
}
.variant_check_empty1 {
  width: 50px;
  grid-area: check2;
  align-self: center;
}
.variant_check_empty2 {
  width: 50px;
  grid-area: check3;
  align-self: center;
}

.variant {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}
.small {
  grid-area: text1;
}

.medium {
  grid-area: text2;
}

.large {
  grid-area: text3;
}

.collaboration_option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 80px 500px;
  padding: 20px 80px;
  font-size: 22px;
  font-weight: bold;
  background: $dark-text-color;
  color: $bg-color;

  a {
    text-decoration: none;
    color: $bg-color;
  }
  i {
    padding-left: 8px;
  }
}
.collaboration_offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $additional-color;
  padding: 40px 80px;
}
.collaboration_offer_text {
  font-size: 24px;
  font-weight: bold;

  color: $bg-color;
}

.collaboration_cta a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 60px;
  padding: 0 20px;
  text-decoration: none;
  background: $bg-color;

  color: $light-text-color;
  font-size: 20px;
  font-weight: bold;
}

/*Section Contacts*/

.contact {
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $darkest-bg-color;
  color: $light-text-color;
  background-size: cover;
}

.contact_content {
  max-width: 768px;

  h2 {
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    font-weight: normal;
    padding-top: 12px;
  }
}

.contact_container {
  padding: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact_container_info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.contact_option {
  position: relative;

  display: flex;

  .contact_option_location a {
    text-decoration: none;
    color: $btn-color;
  }

  .icon {
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $additional-color;
    border-radius: 50%;
    font-size: 22px;
  }

  .contact_option_text {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 16px;

    h3 {
      color: $additional-color;
    }

    p {
      padding-top: 8px;
    }
  }
}

.contact_form {
  width: 50%;
  padding: 50px;
  background: #ffffff;

  h2 {
    font-size: 24px;
    font-weight: bold;
    color: $dark-bg-color;
  }

  .input_box {
    position: relative;
    width: 100%;
    margin-top: 10px;

    span {
      color: $additional-color;
    }
    input,
    textarea {
      width: 100%;
      padding: 5px 0;
      font-size: 16px;
      margin: 5px 0;
      border: none;
      border-bottom: 2px solid $dark-bg-color;
      outline: none;
      background: #eeeeee;
      resize: none;
    }
    .question {
      height: 68px;
    }
    .send {
      height: 50px;
      background: $additional-color;
    }
  }
}

/* Details, Time, Package, Ikat Pages */
/*
.article_wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: $bg-color;
  padding: 120px 250px 120px 300px;
  color: $light-text-color;
}
.article_svg {
  position: absolute;
  top: 40px;
  left: 40px;
  opacity: 40%;
}
.approved {
  top: 40px;
  left: 50px;
}
.article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.article_title {
  padding: 20px;
  font-size: 22px;
  font-weight: bold;

  span {
    color: $logo-color;
  }
}
.ikat {
  color: $additional-color;
}
.tu {
  span {
    color: $additional-color;
  }
}
.article_subtitle {
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  span {
    color: $logo-color;
  }
}

.article_subtitle_content {
  padding-bottom: 16px;
  span {
    color: $btn-color;
  }
}
.article_desc {
  margin: 20px 0;
  padding: 20px;
  background: $light-text-color;
  font-size: 16px;
  font-weight: bold;
  color: $dark-bg-color;
  span {
    color: $logo-color;
  }
}
.article_desc_item {
  padding: 20px 0 0 60px;
  span {
    color: $logo-color;
  }
}


.article_btn {
  margin: 30px 0 30px;
  width: 160px;
  height: 40px;
  display: flex;
  align-self: end;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: $btn-color;
}*/

/*Pages*/

.page_article {
  width: 100%;
}
.page_header_title_content {
  position: relative;
  height: 140px;
  margin: 100px 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  p {
    font-size: 70px;
    line-height: 1;
    font-weight: bold;
    color: $light-text-color;
  }
  span {
    color: $logo-color;
  }
}
.package_title {
  margin: 60px 175px 140px;
  p {
    font-size: 64px;
  }
}

.page_header_img {
  position: relative;
  width: 100%;
  height: 585px;
}
.details_img {
  background: url("../img/aeroflot_plane.jpg") no-repeat;
  background-size: 100% 120%;
}
.time_img {
  background: url("../img/plane-wing-time.jpeg") no-repeat;
  background-size: 100% 100%;
}
.package_img {
  background: url("../img/plane-wing-package3.jpeg") no-repeat;
  background-size: 100% 100%;
}
.ikat_img {
  background: url("../img/plane-wing-ikat.jpeg") no-repeat;
  background-size: 100% 100%;
}
.company_img {
  background: url("../img/company_plane.jpeg") no-repeat;
  background-size: 100% 100%;
}
.page_header_subtitle {
  position: absolute;
  top: -25%;
  left: 40%;
  padding: 50px 80px 50px 80px;
  width: 50%;
  background: $light-text-color;
  z-index: 4;

  p {
    font-size: 20px;
    line-height: 1.3;

    font-weight: bolder;

    color: $bg-color;
    span {
      color: $logo-color;
    }
  }
}
.company_header_subtitle {
  top: -10%;
}
.details_header_subtitle {
  top: -15%;
  left: 35%;
}
.time_header_subtitle {
  left: 45%;
  top: -15%;
  p span {
    color: $additional-color;
  }
}
.package_header_subtitle {
  top: -10%;

  p span {
    color: $additional-color;
  }
}
.page_article_content {
  margin: 125px 200px 200px 200px;
}

.ikat_content {
  margin: 0 auto;
  background: $dark-text-color;
  position: absolute;
  padding: 50px 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  top: -140px;
  left: 0;
  right: 0;
  width: 80%;
  color: $bg-color;
}
.ikat_content_title {
  display: flex;
  justify-content: space-between;
}
.ikat_content_title_abbriv {
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  font-size: 32px;
  font-weight: bold;

  span {
    text-transform: uppercase;
    color: $logo-color;
  }
}

.ikat_content_title_text {
  font-size: 18px;

  span {
    a {
      color: $logo-color;
      text-decoration: none;
      i {
        font-size: 16px;
      }
    }
  }

  p {
    padding-bottom: 16px;
  }
}
.ikat_desc {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: " svg text ";
  margin-top: 200px;
  margin-bottom: 100px;
  background: $light-text-color;
}
.ikat_svg {
  grid-area: svg;
  svg {
    margin: 50px 100px 40px 100px;

    width: 80%;
  }
}
.ikat_desc_content {
  padding: 60px 100px 60px 100px;
  grid-area: text;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  color: $bg-color;

  p {
    padding: 0 0 40px 0;

    a {
      color: $bg-color;
      text-decoration: none;
    }
    i {
      font-size: 15px;
    }
  }
  .even {
    padding-left: 80px;
  }
}
.ikat_desc_content_title {
  font-size: 42px;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 40px;
  span {
    opacity: 50%;
  }
}
/*.ikat_cta {
  position: absolute;
  display: flex;
  background: $logo-color;

  padding: 20px;
  align-items: center;
  bottom: -1500px;
  left: 250px;
  right: 250px;
}*/
.page_article {
  position: relative;
}
.page_article_subtitle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  p {
    padding: 10px 50px;
    font-size: 16px;
    font-weight: bold;
    color: $bg-color;
  }
}
.page_article_subtitle_svg {
  align-self: center;
  padding-left: 50px;
}
.page_article_desc {
  display: grid;
  grid-template-columns: 125px 30% 50%;
  grid-template-areas: ". svg text text";
  margin-bottom: 200px;
}

.page_article_desc_content {
  padding: 60px 100px 60px 100px;
  grid-area: text;
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  background: $bg-color;
  color: $light-text-color;
}
.page_article_desc_content_title {
  font-size: 42px;
  text-transform: uppercase;
  margin-bottom: 40px;
  span {
    opacity: 50%;
  }
}
.company_title {
  font-size: 32px;
}
.page_article_desc_item {
  width: 100%;
  padding: 30px 30px 30px 0;
  font-size: 20px;
  span {
    color: $logo-color;
  }
}
.package_desk_item {
  span {
    color: $additional-color;
  }
}
.page_article_svg {
  grid-area: svg;
  margin-bottom: 100px;

  svg {
    width: 90%;
  }
}
.page_article_cta {
  position: absolute;
  display: flex;
  background: $logo-color;
  margin: 0 15%;
  padding: 20px;

  align-items: center;

  bottom: 100px;
}
.company_data_title {
  padding: 10px 0;
  color: $logo-color;
}
.company_data_type {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  p {
    width: 50%;
    padding: 4px 0;
    align-self: start;
    justify-self: start;
  }
}
.company_cta_btn_content {
  a {
    color: $bg-color;
    text-decoration: none;
  }
}
.bottom_ikat {
  bottom: -1350px;
}

.bottom_time {
  background: $additional-color;
}

.page_article_cta_text {
  color: $bg-color;
  font-weight: bold;
  padding: 0 30px;
  width: 85%;
}
.package_cta {
  background: $dark-text-color;
}
.package_cta_text {
  color: $bg-color;
}
.page_article_cta_btn {
  margin: 30px;
  width: 200px;
  height: 40px;
  display: flex;
  align-self: end;
  text-decoration: none;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background: $light-text-color;
}
.page_article_cta_btn_content {
  a {
    color: $logo-color;
    text-decoration: none;
  }
}
.package_cta_btn_content {
  color: $additional-color;
}
/* Time and experts page */

.time_spin {
  border-color: #808dde;
}
.time_desc {
  margin: 100px 100px 200px 100px;
  background: $bg-color;
}
.time_desc_content {
  margin-top: 50px;
}
.time_svg {
  margin-top: 160px;
}
.time_btn {
  a {
    text-decoration: none;
    color: $bg-color;
  }
}

/* Details Page */

.details_cta_btn a {
  text-decoration: none;
  color: $bg-color;
}
footer {
  position: relative;
  background: $darkest-bg-color;
}
.page_footer_data {
  color: $dark-text-color;
  font-size: 14px;
  margin: 0 auto;
  padding: 80px 80px 40px;
}
/* Location Page */
.wrapper_location {
  padding: 40px 125px;
  background: $dark-bg-color;
}
.location_desc {
  padding-bottom: 60px;
  font-weight: bold;
  color: $light-text-color;
  p {
    padding-top: 10px;
    color: $additional-color;
  }
}

/* Location Page */
.location_header_title_content {
  margin: 5% 0;
  display: grid;
  grid-template-columns: 15% 35% 45% 10%;
  grid-template-areas: " . title picture .";
}
.location_desc {
  grid-area: picture;
  margin: auto;
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 20px;
  }
}
.location_title {
  margin: auto 0;
  grid-area: title;
}

/* Documents Page */
.documents_header_title_content {
  margin: 30px 175px;
}
.main_document_content {
  background: $bg-color;
}
.document_content {
  text-decoration: none;
}
.wrapper_documents {
  padding: 80px 175px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  justify-content: center;
}
.document_box {
  padding: 20px;
  width: 250px;
  height: 300px;
  background: $dark-text-color;
  display: flex;
  flex-direction: column;
}
.document_box_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  color: $bg-color;
}

.document_box_content_subtitle {
  font-size: 14px;
  padding-top: 14px;
}
.document_box_content_desc {
  font-size: 14px;
  font-weight: bold;
}
/* Media queries*/

@media screen and (max-width: 1200px) {
  .nav_content {
    margin-right: 225px;
  }

  .logo_text {
    font-size: 18px;
  }
  .header_subtitle_large p {
    font-size: 26px;
  }
  .header_title_desc_cta {
    font-size: 26px;
  }

  .product_certificate_title {
    padding-right: 125px;
    font-size: 30px;
  }
  .product_certificate_subtitle {
    padding-right: 125px;
    p {
      padding-top: 30px;
    }
  }
  .collaboration_option {
    margin: 80px 0 80px 350px;

    font-size: 18px;
  }
  .collaboration_offer {
    padding: 30px 70px;
  }

  .page_article_cta_text {
    font-size: 16px;
  }
  .page_article_cta_btn {
    font-size: 16px;
  }
  /* IKAT Page */
  .ikat_content_title_text p {
    font-size: 16px;
  }
  .ikat_desc {
    margin: 200px 0 100px 0;
  }
  .ikat_cta {
    bottom: 100px;
  }

  /* Details page */

  .page_article_content {
    margin: 100px 100px 200px 100px;
  }
  .page_header_img {
    height: 530px;
  }
  .page_article_svg {
    grid-area: svg;
    margin-bottom: 100px;

    svg {
      width: 90%;
      transform: scale(1.15);
    }
  }
  .details_header_subtitle p {
    font-size: 18px;
  }

  /* Time Page */

  .time_header_subtitle {
    left: 40%;
    padding: 50px;
  }
  .time_header_subtitle p {
    font-size: 18px;
  }
  .time_desc_content {
    padding: 60px;
  }
  .time_svg {
    margin-top: 200px;
    svg {
      transform: scaleY(1.6);
    }
  }
  .time_desc_item {
    font-size: 18px;
  }
  /* Company Page */
}

@media screen and (max-width: 1080px) {
  .header_subtitle p {
    font-size: 24px;
  }
  .page_header_title_content p {
    font-size: 56px;
  }
  .page_header_subtitle p {
    font-size: 16px;
  }
  .page_header_img {
    height: 500px;
  }
  .page_article_desc_content_title {
    font-size: 32px;
  }
  .header_title_desc_cta {
    font-size: 24px;
  }
  .product_certificate_title {
    width: 550px;
    margin-top: 0;
    font-size: 26px;
  }
  .product_certificate_subtitle {
    width: 550px;

    p {
      padding-top: 30px;
    }
  }
  .certificate_svg {
    top: 0;
    left: 125px;
    transform: scale(0.9);
  }

  .point_box {
    padding-left: 100px;
  }
  .collaboration_option {
    margin: 80px 0 100px 300px;
  }
  .collaboration_offer {
    padding: 20px 60px;
  }
  .ikat_desc_content_title {
    font-size: 36px;
  }

  .ikat_desc_content p {
    font-size: 16px;
    padding-bottom: 30px;
  }
  .package_subtitle_svg,
  .package_subtitle p {
    padding-left: 30px;
  }

  /* Time Page */

  .time_header_subtitle {
    top: -20%;
    padding: 50px;
  }
}
@media screen and (max-width: 1030px) {
  .header_title_content {
    height: 220px;
    p {
      font-size: 40px;
    }
  }
  .header_subtitle_large {
    width: 70%;
    p {
      font-size: 24px;
    }
  }
  .page_header_title_content {
    height: 120px;
  }
  .page_header_img {
    height: 480px;
  }
  .ikat_content_title_abbriv p {
    font-size: 28px;
  }
  .ikat_content_title_text p {
    font-size: 14px;
  }
  .ikat_desc {
    margin: 100px 0;
  }
  .ikat_desc_content_title {
    font-size: 36px;
  }

  .ikat_desc_content p {
    font-size: 14px;
    padding-bottom: 30px;
  }

  .page_article_content {
    margin: 100px 100px 150px 100px;
  }
  .page_header_img {
    height: 450px;
  }
  .page_article_desc_content {
    padding-bottom: 0;
    margin-top: -40px;
  }

  .page_article_desc_item {
    font-size: 14px;
  }
  .page_article_subtitle p {
    font-size: 14px;
    padding: 10px 30px;
  }
  .page_article_cta_text {
    font-size: 14px;
  }
  .page_article_cta_btn {
    font-size: 14px;
  }

  /* Time Page */
  .time_svg {
    margin-top: 120px;
  }
  .time_desc_content {
    margin-top: 0;
    padding-top: 120px;
  }
  /* Company Page */

  .company_desc {
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". text .";
    margin-bottom: 50px;
  }
  .company_svg {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .company_data {
    padding-bottom: 60px;
  }

  /* Documents Page */

  .wrapper_documents {
    padding: 80px 175px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    justify-content: center;
  }
  .document_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    width: 450px;
    height: 200px;
    background: $dark-text-color;
  }

  .document_box_content {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    color: $bg-color;
  }
  .document_box_content_subtitle {
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  .logo_text {
    font-size: 16px;
  }
  .collaboration_option {
    margin: 80px 0 100px 200px;
  }
  .collaboration_offer_text {
    font-size: 20px;
  }
  .collaboration_cta a {
    font-size: 18px;
  }

  .page_article_content {
    margin: 100px 100px 150px 100px;
  }

  .page_article_desc_content_title {
    font-size: 32px;
  }
  .page_article_subtitle p {
    font-size: 14px;
    padding: 10px 30px;
  }
  .page_footer_data {
    font-size: 12px;
  }
}
@media screen and (max-width: 920px) {
  .nav_content {
    margin: 0 125px;
  }
  .logo_text {
    font-size: 14px;
    font-weight: bold;
    align-self: center;
  }
  .page_header_title_content {
    margin: 80px 125px;
    p {
      font-size: 48px;
    }
  }
  .page_header_subtitle {
    padding: 50px;
    p {
      font-size: 15px;
    }
  }
  .page_header_img {
    height: 430px;
  }
  .collaboration_option {
    font-size: 16px;
    margin: 80px 0 100px 200px;
  }
  .ikat_content_title_abbriv {
    align-self: flex-start;
    font-size: 28px;
    padding: 0 30px 0 0;
  }
  .ikat_content_title_text {
    align-self: center;
  }
  .ikat_desc_content_title {
    font-size: 32px;
  }
  .ikat_desc_content p {
    font-size: 14px;
    padding-bottom: 15px;
  }
  .page_article_content {
    margin: 80px;
  }
  .page_article_svg {
    svg {
      width: 80%;
      transform: scale(1.4);
    }
  }
  .page_article_desc_content {
    padding: 60px;
    margin-top: 0;
  }
  .page_article_cta_text {
    font-size: 13px;
  }
  .page_article_cta_btn {
    font-size: 13px;
  }
  .page_footer_data {
    font-size: 12px;
  }
  /* Time Page */

  .time_desc {
    margin: 40px;
    padding: 40px;
  }
  /* Package Page */

  .package_desc {
    grid-template-columns: 80px 25% 65%;
  }
  .package_svg svg {
    transform: scaleY(2);
  }

  /*Details Page*/

  .details_desc {
    grid-template-columns: 80px 25% 65%;
  }
  .details_svg svg {
    transform: scaleY(2);
  }
  /* Company Page */
  .company_data_type p {
    font-size: 12px;
  }
  /* Documents Page */
  .documents_header_title_content {
    margin-bottom: 30px;
  }

  .document_content {
    text-decoration: none;
  }
  .wrapper_documents {
    padding: 20px 175px 80px 175px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    justify-content: center;
  }
  .document_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    width: 450px;
    height: 150px;
    background: $dark-text-color;
  }

  .document_box_content {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    color: $bg-color;
  }
  .document_box_content_subtitle {
    font-size: 14px;
    padding: 0;
  }
  .document_box_content_desc {
    font-size: 14px;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .nav_content {
    margin-left: 80px;
  }
  .logo {
    padding: 0 20px;
  }
  .logo_text {
    width: 180px;
    font-size: 16px;
    font-weight: bold;
    align-self: center;
    margin: 0 10px;
  }
  .page_header_title_content {
    height: 80px;
    margin-left: 100px;
  }
  .page_header_img {
    height: 380px;
  }
  .page_header_subtitle {
    top: -20%;
    left: 43%;
    padding: 30px;
    p {
      font-size: 14px;
    }
  }
  .ikat_content {
    padding: 40px;
  }
  .ikat_content_title_abbriv p {
    font-size: 20px;
  }
  .ikat_content_title_text p {
    font-size: 12px;
  }
  .ikat_svg svg {
    height: 600px;
    margin: 70px 50px 50px 70px;
  }
  .ikat_desc {
    margin: 40px 0;
  }
  .ikat_desc_content {
    padding: 60px;
  }
  .ikat_desc_content_title {
    font-size: 24px;
  }
  .ikat_desc_content p {
    font-size: 12px;
  }
  .page_article_subtitle p {
    padding: 10px 20px;
    font-size: 12px;
  }

  .page_article_desc_content_title {
    font-size: 28px;
  }
  .page_article_desc_item {
    font-size: 12px;
  }
  .page_article_cta {
    padding: 10px;
  }
  .page_article_cta_text {
    padding: 10px 20px;
    font-size: 12px;
  }
  .page_article_cta_btn {
    align-self: center;
    width: 140px;
    margin: 10px;
    font-size: 12px;
  }
  .page_footer_data {
    font-size: 12px;
  }
  .package_header_subtitle {
    top: -10%;
  }
  .package_desc {
    width: 100%;

    grid-template-columns: 1fr;
  }
  .package_svg {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .package_desc_content {
    width: 100%;
    padding: 125px;
  }
  .package_desc_item {
    font-size: 16px;
    span {
      color: $additional-color;
    }
  }
  /* Details Page */
  .details_desc {
    width: 100%;

    grid-template-columns: 1fr;
  }
  .details_svg {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .details_desc_content {
    width: 100%;
    padding: 125px;
  }
  .details_desc_item {
    font-size: 16px;
    span {
      color: $additional-color;
    }
  }
  /* Time Page*/
  .time_header_subtitle {
    top: -10%;
  }
  .time_desc {
    grid-template-columns: 1fr;
  }
  .time_svg {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .time_desc_content {
    width: 100%;
    padding: 30px 40px 60px 40px;
  }
  .time_desc_item {
    font-size: 16px;
    span {
      color: $additional-color;
    }
  }

  .header_title_content {
    margin: 50px 125px;

    height: 270px;
    p {
      font-size: 36px;
      span {
        font-size: 46px;
      }
    }
  }
  .header_img {
    height: 420px;
  }

  .header_subtitle_large {
    background: $bg-color;
    width: 80%;
    margin: 0 auto;
    padding-left: 125px;

    p {
      color: $light-text-color;
      font-size: 26px;
      font-weight: bold;
    }
  }
  .container {
    right: -700px;
    top: 140px;
    width: 800px;
    height: 800px;
  }
  .header_title_desc_text {
    padding-left: 125px;
  }
  .header_title_desc_cta {
    font-size: 22px;
    padding-left: 125px;
  }
  .product_certificate_title {
    margin: 30px 80px 0 80px;
    font-size: 20px;
  }

  .product_certificate_subtitle {
    width: 400px;

    p {
      font-size: 14px;
    }
  }
  .certificate_svg {
    top: 0;
    left: 75px;
    transform: scale(0.8);
  }

  .point_box {
    padding-left: 75px;
  }
  .point_title {
    font-size: 18px;
  }
  .point_subtitle {
    font-size: 14px;
  }
  .variants p {
    font-size: 14px;
  }
  .collaboration_title {
    font-size: 22px;
  }

  .collaboration_option {
    margin-left: 75px;
    font-size: 14px;
    padding-left: 16px;
    align-items: start;
  }
  .collaboration_offer_text {
    font-size: 18px;
  }
  .collaboration_cta {
    width: 140px;
    margin-right: 10px;
    a {
      font-size: 14px;
    }
  }
  .contact_container {
    padding: 50px 125px 100px 125px;
  }

  .contact_content {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  .contact_option_text {
    h3 {
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
  }
  .contact_option_location p a {
    text-decoration: none;
    color: $btn-color;
  }
  .contact_form {
    padding: 30px;
    h2 {
      font-size: 18px;
    }
  }
  /* Company Page */
  .company_header_subtitle {
    top: -10%;
  }
  /* Location Page */
  .location_header_title_content {
    margin: 40px;
  }
}

@media screen and (max-width: 688px) {
  .nav_content {
    flex-direction: column;
    margin-left: 100px;
    margin-right: 80px;
    align-items: flex-start;
  }
  .logo {
    height: 40px;
    padding: 0;
  }
  .nav_menu {
    margin-bottom: 10px;
    a {
      font-size: 10px;
    }
  }
  .header_subtitle_large {
    visibility: hidden;

    width: 0;
    height: 0;
  }
  .header_subtitle_small {
    visibility: visible;
    width: 100%;
    padding-left: 100px;
    margin-bottom: 60px;
    p {
      font-size: 24px;
    }
  }
  .header_title_desc_text {
    padding: 40px 60px 40px 100px;
    font-size: 16px;
  }
  .header_title_desc_cta {
    padding-left: 100px;
    padding-top: 50px;
    font-size: 20px;
  }
  .product_certificate {
    padding: 40px 40px 0 40px;
  }
  .product_certificate_img {
    width: 0;
  }
  .certificate_svg {
    transform: scale(0.4);
    top: -250px;
    left: -60px;
  }
  .product_certificate_text {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .product_certificate_title_small {
    padding-top: 40px;
    padding-left: 200px;

    visibility: visible;
    width: 100%;
    font-size: 30px;
    line-height: 1.2;
    color: $light-text-color;
  }
  .product_certificate_title {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .product_certificate_subtitle {
    font-size: 12px;
    width: 100%;
    margin: 0;
    padding: 0;

    p {
      padding: 40px 60px;
      background: $light-text-color;
      color: $bg-color;
      margin: 40px 16px 0 16px;
    }
  }
  .product_certificate_content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn_more {
    margin: 40px 0 40px 410px;

    font-size: 14px;
  }
  .collaboration {
    padding: 120px 140px;
  }
  .collaboration_title {
    font-size: 30px;
  }
  .variants {
    grid-template-columns: 100px 1fr 30px;
  }
  .collaboration_option {
    margin-left: 0;
  }
  .collaboration_offer {
    padding: 20px;
  }
  .collaboration_offer_text {
    font-size: 15px;
  }
  .collaboration_cta {
    a {
      font-size: 13px;
      width: 140px;
    }
  }
  /* Package Page*/

  .package_subtitle {
    grid-template-columns: 1fr;
    padding: 0;
    p {
      font-size: 14px;
    }
  }
  .package_subtitle_svg {
    visibility: hidden;
    height: 0;
  }

  /* IKAT Page */
  .ikat_content {
    margin: 0;
    top: -60px;
    width: 100%;
    padding: 60px;
  }
  .ikat_content_title {
    flex-direction: column;
    padding: 0;
  }
  .ikat_content_title_abbriv {
    visibility: hidden;
    height: 0;
  }
  .ikat_content_title_text {
    p {
      padding: 20px 0;
      font-size: 14px;
    }
  }

  .ikat_desc {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: " text  svg";
    margin-top: 250px;
    margin-bottom: 100px;
    background: $light-text-color;
  }
  .ikat_svg svg {
    margin-top: 150px;
    width: 100px;
    height: 200px;
    padding-bottom: 30px;
  }
  .ikat_desc_content {
    padding-bottom: 40px;
  }
  .ikat_desc_content_title {
    margin-top: 50px;
  }
  .ikat_desc_content p {
    width: 300px;
  }
  /* Location Page */
  .location_header_title_content {
    margin: 50px 0;
  }
  .wrapper_location {
    padding: 80px;
  }
  .location_header_title_content {
    margin: 50px 0;
  }
}
@media screen and (max-width: 540px) {
  .header_title_content {
    margin: 10px 100px 30px 100px;
    p {
      font-size: 30px;
    }
  }
  .product_certificate_text .btn_more {
    margin-left: 280px;
  }
  .points {
    grid-template-columns: 60% 40%;
  }
  .details_picture {
    grid-area: content2;
  }
  .details {
    grid-area: image2;
  }
  .point_picture {
    transform: scale(0.7);
  }
  .point_box {
    padding-left: 60px;
  }
  .point_subtitle {
    font-size: 14px;
  }
  .point_btn a {
    font-size: 16px;
  }
  .collaboration {
    padding: 60px;
  }
  .collaboration_option {
    padding: 20px;
    margin: 50px 0;
  }
  .collaboration_cta {
    margin: 0;
    a {
      padding: 0;
    }
  }
  .contact_container {
    padding: 50px;
  }
  /* Time page */

  .time_title_content {
    margin-top: 30px;
    height: 160px;
  }
  .time_subtitle {
    left: 18%;
    width: 70%;
    padding: 20px;
    p {
      font-size: 12px;
    }
  }
  .time_desc {
    margin: 0;
  }
  .time_desc_item {
    padding-right: 0;
    font-size: 14px;
  }

  /* Package Page */

  .package_header_title_content {
    margin-top: 30px;
    height: 160px;
  }

  .package_header_subtitle {
    left: 18%;
    width: 78%;
    padding: 24px;
    p {
      font-size: 14px;
    }
  }
  .package_subtitle {
    grid-template-columns: 1fr;
    padding: 60px 0;
    p {
      font-size: 14px;
    }
  }
  .package_subtitle_svg {
    visibility: hidden;
    height: 0;
  }
  .package_content {
    margin: 40px;
  }
  .package_desc_content {
    padding: 80px;
  }
  /* Details Page*/

  .details_header_content {
    margin-top: 30px;
    height: 180px;
  }
  .details_img {
    height: 380px;
  }
  .details_header_subtitle {
    left: 18%;
    width: 78%;
    padding: 24px;
    p {
      font-size: 14px;
    }
  }
  .details_subtitle {
    grid-template-columns: 1fr;
    padding: 60px 0;
    p {
      font-size: 14px;
    }
  }
  .details_subtitle_svg {
    visibility: hidden;
    height: 0;
  }
  .details_content {
    margin: 40px;
  }
  .details_desc_content {
    padding: 80px;
  }
  .details_desc {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .details_svg {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .details_desc_content {
    width: 100%;
  }

  /* IKAT Page */
  .ikat_header_content {
    margin-top: 30px;
    height: 180px;
  }
  .ikat_img {
    height: 420px;
  }
  .ikat_header_subtitle {
    left: 18%;
    width: 78%;
    padding: 24px;
    p {
      font-size: 14px;
    }
  }

  .ikat_desc {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: " text  svg";
    margin-top: 250px;
    margin-bottom: 100px;
    background: $light-text-color;
  }
  .ikat_svg svg {
    margin-top: 95px;
    width: 100px;
    height: 200px;
    padding-bottom: 30px;
  }
  .ikat_desc_content {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .ikat_desc_content_title {
    margin-top: 50px;
  }
  .ikat_desc_content p {
    width: 400px;
  }
  /* Company Page */
  .company_header_title_content {
    margin: 0;
    padding: 40px 40px 200px 40px;
    height: 320px;
    p {
      padding-top: 60px;
    }
  }
  .company_header_subtitle {
    width: 60%;
    top: -80px;
    left: 30%;
    p {
      font-size: 13px;
    }
  }
  .company_img {
    height: 420px;
  }

  .company_upper_content {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
  .company_desc {
    grid-template-columns: 0 100% 0;
  }
  .company_content {
    padding: 80px;
  }
  /* Location Page */
  .location_header_title_content {
    margin: 50px 0;
  }
  /* Documents Page */

  .wrapper_documents {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 60px;
    justify-content: center;
  }
  .document_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 20px;
    width: 350px;
    height: 180px;
    background: $dark-text-color;
  }

  .document_box_content_subtitle {
    font-size: 13px;
    padding: 0;
  }
  .document_box_content_desc {
    font-size: 13px;
  }
  .document_box_content_data {
    font-size: 12px;
  }
}
@media screen and (max-width: 420px) {
  .nav_content {
    margin-left: 50px;
    margin-right: 80px;
    align-items: flex-start;
  }
  .logo_text {
    font-size: 12px;
  }
  .nav_menu {
    margin-bottom: 10px;
    a {
      font-size: 8px;
    }
  }

  .header_title_content {
    margin: 50px;
    height: 160px;

    p {
      font-size: 30px;
      span {
        font-size: 36px;
      }
    }
  }
  .header_subtitle_small {
    width: 100%;
    top: 420px;
    padding: 40px;
    p {
      font-size: 20px;
      padding-bottom: 0;
    }
  }
  .header_title_desc_text {
    padding: 0 40px 0 40px;
    font-size: 14px;
  }
  .header_title_desc_cta {
    padding: 40px;
    font-size: 14px;
  }
  /* Certificate Page */

  .product_certificate {
    padding: 40px 40px 0 40px;
  }
  .product_certificate_img {
    width: 0;
  }
  .certificate_svg {
    transform: scale(0.4);
    top: -250px;
    left: -65px;
  }
  .product_certificate_text {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .product_certificate_title_small {
    padding-top: 40px;
    padding-left: 150px;

    visibility: visible;
    width: 100%;
    font-size: 26px;
    line-height: 1.2;
    color: $light-text-color;
  }
  .product_certificate_title {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  .product_certificate_subtitle {
    font-size: 12px;
    width: 100%;
    margin: 0;
    padding: 0;

    p {
      font-size: 12px;
      padding: 30px;
      background: $light-text-color;
      color: $bg-color;
      margin: 40px 16px 0 16px;
    }
  }
  .product_certificate_content {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .product_certificate_text .btn_more {
    margin-left: 160px;

    font-size: 12px;
  }

  /* Points Section */
  .points {
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 40vh 30vh 40vh 30vh 40vh;
    grid-template-areas:
      "image1"
      "content1 "
      "image2   "
      "content2"
      "image3"
      "content3 ";
  }
  /* Details Section */
  .details_picture {
    grid-area: image2;
  }
  .details {
    grid-area: content2;
  }
  .point_btn a {
    font-size: 16px;
    width: 120px;
  }

  /* Collaboration Section */

  .collaboration {
    padding: 60px;
  }
  .collaboration_title {
    font-size: 22px;
  }
  .variants {
    grid-template-columns: 40px 1fr 0;
  }
  .variant_check_checked svg,
  .variant_check_empty1 svg,
  .variant_check_empty2 svg {
    height: 20px;
  }

  .collaboration_option {
    padding: 20px 8px;
    margin: 60px 0 20px 0;
    font-size: 14px;
  }
  .collaboration_offer {
    margin-top: 40px;
    flex-direction: column;
    padding: 10px;
  }
  .collaboration_offer_text {
    padding-bottom: 10px;
    font-size: 14px;
  }
  .collaboration_cta {
    margin: 0 0 0 100px;

    a {
      width: 140px;
      height: 40px;
      padding: 0 10px;
    }
  }
  /* Contact Section */
  .contact_container {
    flex-direction: column;
    padding: 50px 60px;
  }
  .contact_container_info {
    width: 100%;
  }
  .contact_form {
    margin-top: 60px;
    width: 100%;
  }

  /* Pages */
  .page_header_title_content {
    margin: 20px 40px 50px 40px;
  }
  .page_header_subtitle {
    top: -30px;
    left: 10%;
    width: 80%;
    padding: 36px;
    p {
      font-size: 14px;
    }
  }
  .page_article_desc {
    background: $bg-color;
    margin-bottom: 0;
    padding-bottom: 200px;
  }
  /* IKAT Page */

  .ikat_header_content {
    height: 200px;
    padding-bottom: 60px;
  }
  .ikat_img {
    height: 460px;
  }
  .ikat_header_subtitle {
    top: -20%;
  }
  .ikat_content {
    margin: 0;
    top: -60px;
    width: 100%;
    padding: 50px;
  }
  .ikat_content_title {
    flex-direction: column;
    padding: 0;
  }
  .ikat_content_title_abbriv {
    visibility: hidden;
    height: 0;
  }
  .ikat_content_title_text {
    p {
      font-size: 12px;
      padding-bottom: 20px;
    }
  }

  .ikat_desc {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: " text  svg";
    margin-top: 250px;
    margin-bottom: 100px;
    background: $light-text-color;
  }
  .ikat_svg svg {
    margin-top: 100px;
    width: 100px;
    height: 200px;
    padding-bottom: 30px;
  }
  .ikat_desc_content {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .ikat_desc_content_title {
    margin-top: 50px;
  }
  .ikat_desc_content p {
    width: 300px;
  }
  /* Time Page */

  .time_title_content {
    margin: 0;
    padding: 40px 40px 200px 40px;
    height: 300px;
    p {
      padding-top: 60px;
    }
  }
  .time_subtitle {
    top: -110px;
    p {
      font-size: 13px;
    }
  }
  .time_img {
    height: 320px;
  }

  /* Details Page */

  .details_header_content {
    margin: 0;
    padding: 40px 40px 200px 40px;
    height: 360px;
  }
  .details_header_subtitle {
    top: -110px;
    p {
      font-size: 13px;
    }
  }
  .details_img {
    height: 300px;
  }

  .details_subtitle {
    grid-template-columns: 1fr;
    p {
      font-size: 14px;
    }
  }
  .details_subtitle_svg {
    visibility: hidden;
    height: 0;
  }
  .details_content {
    margin: 40px;
  }

  /*Package Page*/

  .package_header_title_content {
    margin: 0;
    padding: 40px 40px 200px 40px;
    height: 340px;
  }
  .package_header_subtitle {
    top: -110px;
    p {
      font-size: 13px;
    }
  }
  .package_img {
    height: 320px;
  }

  .package_desc {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .package_svg {
    visibility: hidden;
    height: 0;
    width: 0;
  }
  .package_desc_content {
    width: 100%;
    padding: 100px 40px;
  }
  .package_desc_item {
    font-size: 14px;
    span {
      color: $additional-color;
    }
  }

  /* Company Page */

  .company_header_title_content {
    margin: 0;
    padding: 40px 40px 200px 40px;
    height: 320px;
    p {
      padding-top: 60px;
    }
  }
  .company_header_subtitle {
    width: 60%;
    top: -80px;
    left: 30%;
    p {
      font-size: 13px;
    }
  }
  .company_img {
    height: 380px;
  }
  .company_desc {
    padding-bottom: 20px;
  }
  .company_content {
    padding: 60px 40px;
  }
  .company_data_type p {
    font-size: 10px;
  }
  .page_article_cta {
    padding-top: 30px;
    bottom: 100px;
    width: 100%;
    margin: 0;
    flex-direction: column;
    background: $dark-text-color;
  }

  .page_article_cta_btn {
    margin: 0 30px 0 0;
    padding-top: 0;
    align-self: flex-end;
    background-color: $light-text-color;
  }
  .page_article_cta_btn_content {
    margin: 4px;
    a {
      color: $additional-color;
    }
  }
  .ikat_cta {
    bottom: 40px;
  }
  .details_desc_content {
    padding: 60px;
    p {
      padding-right: 0;
    }
  }
  .details_cta {
    bottom: 100px;
    width: 100%;
    margin: 0;
    flex-direction: column;
    background: $dark-text-color;
  }
  .details_cta_text {
    padding: 20px 20px 0 20px;
    color: $bg-color;
  }
  .details_cta_btn {
    margin: 0 30px 0 0;
    padding-top: 0;
    align-self: flex-end;
    background-color: $light-text-color;
  }
  .details_btn {
    margin: 4px;
    a {
      text-decoration: none;
      color: $logo-color;
    }
  }
  /* Location Page */
  .wrapper_location {
    padding: 60px;
  }
  .location_header_title_content {
    margin: 20px 0;
    height: 200px;
  }
  .location_desc {
    h2 {
      font-size: 14px;
    }
    p {
      font-size: 14px;
    }
  }
  .page_footer_data {
    padding: 80px 10px 10px;
  }
  /* Documents Page */

  .document_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 40px;
    width: 300px;
    height: 180px;
    background: $dark-text-color;
  }
  .document_svg {
    width: 40px;
    svg {
      width: 100%;
    }
  }
  .document_box_content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    color: $bg-color;
  }
  .document_box_content_subtitle {
    font-size: 12px;
    padding-top: 16px;
  }
  .document_box_content_desc {
    font-size: 12px;
    font-weight: bold;
  }
}
@media screen and (max-width: 375px) {
  .nav_content {
    margin-left: 30px;
  }
  .logo {
    margin-left: 10px;
  }
  .nav_menu {
    margin-left: 8px;
    li {
      padding-right: 4px;
      a {
        font-size: 7px;
      }
    }
  }
  .product_certificate {
    padding: 40px 30px 0 30px;
  }
  .product_certificate_title_small {
    font-size: 22px;
  }
  .product_certificate_text .btn_more {
    margin-left: 115px;

    font-size: 12px;
  }
  .details_header_content {
    margin: 0;
    padding: 80px 40px 200px 40px;
    height: 350px;
  }
  .details_header_subtitle {
    top: -120px;
    p {
      font-size: 13px;
    }
  }
  .details_img {
    height: 255px;
  }
  .details_subtitle_svg {
    height: 0;
    width: 0;
  }
  .details_content {
    margin: 0;
    visibility: hidden;
    height: 0;
  }
  .details_desc_content_title {
    font-size: 20px;
  }

  /* Package Page */
  .package_desc_content_title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .package_desc_item {
    font-size: 13px;
    padding: 20px 20px 20px 0;
  }
  /* Time Page */
  .time_desc_content {
    font-size: 12px;
    padding: 20px 20px 20px 0;
  }
  /* IKAT Page */

  .ikat_desc {
    margin: 300px 0 150px 0;
  }
  .ikat_svg svg {
    margin-top: 80px;
    padding: 0;
  }
  .ikat_desc_content p {
    width: 240px;
  }

  /* Company Page */

  .company_header_title_content {
    margin: 0;
    padding: 40px 40px 200px 40px;
    height: 220px;
    p {
      padding-top: 48px;
    }
  }
  .company_header_subtitle {
    width: 70%;
    top: -100px;
    left: 20%;
    font-size: 13px;
  }

  .company_img {
    height: 380px;
  }

  /* Location Page */
  .wrapper_location {
    padding: 40px;
  }
  /* Documents Page */

  .wrapper_documents {
    width: 100%;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    justify-content: center;
  }
  .document_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    width: 250px;
    height: 100px;
    background: $dark-text-color;
  }
  .document_svg {
    width: 35px;
    svg {
      width: 100%;
    }
  }
  .document_box_content {
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    color: $bg-color;
  }
  .document_box_content_subtitle {
    font-size: 10px;
    padding: 0;
  }
  .document_box_content_desc {
    font-size: 10px;
    font-weight: bold;
  }
  .document_box_content_data {
    font-size: 10px;
  }
}
@media screen and (max-width: 320px) {
  .header_subtitle_small p {
    font-size: 18px;
  }
  .header_title_desc_cta {
    font-size: 13px;
    i {
      font-size: 13px;
    }
  }
  .product_certificate_title {
    margin: 0;
  }
  .product_certificate_title_small {
    padding-left: 20px;
    padding-top: 20px;
  }
  .product_certificate_img {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .product_certificate_subtitle p {
    margin: 30px 0;
    padding: 20px;
    font-size: 11px;
  }
  .product_certificate_text .btn_more {
    margin-left: 75px;

    font-size: 12px;
  }
  .points {
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 60vh 40vh 60vh 40vh 60vh;
    grid-template-areas:
      "image1"
      "content1 "
      "image2   "
      "content2"
      "image3"
      "content3 ";
  }
  .point_subtitle {
    font-size: 12px;
  }
  .collaboration {
    padding: 60px 30px;
  }
  .variants {
    grid-template-columns: 20px 1fr 0;
  }
  .collaboration_option {
    font-size: 12px;
  }
  .package_header_title_content p {
    font-size: 42px;
  }
  .package_header_content {
    margin: 0;
    padding: 40px 40px 200px 40px;
    height: 300px;
  }
  .package_img {
    height: 230px;
  }
  .package_subtitle p {
    font-size: 12px;
    padding: 20px 10px;
  }

  .details_header_content {
    margin: 0;
    padding: 40px 40px 200px 40px;
    height: 320px;
  }
  .details_header_subtitle {
    top: -130px;
    p {
      font-size: 12px;
    }
  }
  .details_img {
    height: 230px;
  }
  .details_subtitle_svg {
    height: 0;
    width: 0;
  }
  .details_content {
    margin: 0;
    visibility: hidden;
    height: 0;
  }
  .details_desc_content_title {
    font-size: 20px;
  }
  .details_cta {
    padding: 10px;
  }
  /* Documents Page */

  .wrapper_documents {
    width: 100%;

    padding: 0 40px 40px 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    justify-content: center;
  }
  .document_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 14px;

    height: 100px;
    background: $dark-text-color;
  }
  .document_svg {
    width: 30px;
    svg {
      width: 100%;
    }
  }
  .document_box_content {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    color: $bg-color;
  }
  .document_box_content_subtitle {
    font-size: 10px;
    padding: 0;
  }
  .document_box_content_desc {
    font-size: 10px;
    font-weight: bold;
  }
  .document_box_content_data {
    font-size: 10px;
  }
}
